@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body{
    font-family: 'PT Serif', serif;
}


.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    
    gap: 3rem;
}

.about-image img {
    max-width: 100%;
    border-radius: 25px 0px 25px 0px;
}

.about-text {
    max-width: 50%;
}

.about-text h2 {
    font-size: 2rem;
    color: #333;
}

.about-text p {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #666;
}

 .more-btn {
    padding: 0.75rem 4rem;
    background-color:  rgb(240, 183, 41);
    color: #fff;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    text-decoration: none;
    
}
.more-btn a{
    text-decoration: none;color: #fff;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-image,
    .about-text {
        max-width: 100%;
    }

    .about-text h2 {
        font-size: 1.8rem;
    }

    .about-text p {
        font-size: 1rem;
    }
}
