@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body{
    font-family: 'PT Serif', serif;
}


.cta-section {
    padding: 4rem 2rem;
    background-color: white;
    text-align: center;
    
}

.cta-container {
    max-width: 800px;
    margin: 0 auto;
}

.cta-section h2 {
    font-size: 2rem;
    color: #212121;
    margin-bottom: 1.5rem;
}

.cta-button {
    padding: 0.7rem 4rem;
    background-color:  #D89531;
    color: #fff;
    border: none;
    border-radius: 9px;
    font-size: 1rem;
    cursor: pointer;
    

}

.cta-button a{
    text-decoration: none;
    color: #fff;
    
}

.cta-button:hover {
    background-color:  #D89531;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .cta-section h2 {
        font-size: 1.5rem;
    }

    .cta-button {
        padding: 0.75rem 1.5rem;
        font-size: 0.9rem;
    }
}
