@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body{
    font-family: 'PT Serif', serif;
}


.contact {
    padding: 3rem 2rem;
    background-color: #e9ecf0
}

.contact-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.contact-left {
    flex: 1;
}

.contact-left h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 0.7rem 4rem;
    background-color:  #D89531;
    color: #fff;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #D89531;
}

.contact-right {
    flex: 1;
    text-align: center;
}

.contact-right h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

.contact-right p {
    color: #666;
    margin-bottom: 0.5rem;
    gap: 1rem;
}

.whatsapp-icon{
    color: #25D366;
}

.instagram-icon {
    color: #E1306C; 
}

.social-links a {
    display: inline-block;
    margin: 0 0.5rem;
    color: #666;
    font-size: 1.2rem;
}

.social-links a:hover {
    color:  rgb(240, 183, 41);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
    }

    .contact-right {
        text-align: left;
    }
}
