/* Basic styling for the contact form and container */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body{
    font-family: 'PT Serif', serif;
}




.contact-container {
    display: flex;
    justify-content: space-between;
    margin-top:  50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .contact-form, .contact-info {
    width: 48%;
  }
  
  .contact-form h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .contact-form p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    height: 100px;
  }
  
  .form-group-consent {
    
    align-items: center;
    margin-left: 40px;
  }
  

  
  
  .btn {
        background-color: #d68b00;
        color: white;
        padding: 15px 150px;
        border: none;
        border-radius: 9px;
        font-size: 1.1rem;
        cursor: pointer;
        margin-left: 40px;
        margin-top: 20px;
        font-size: 0.8rem;
        margin-bottom: 50px;
      }

    
      
      .form-group-consent input {
        margin-right: 10px;
      }
      
      .form-group-consent a {
        color: #d68b00;
        cursor: pointer;
        text-decoration: none;
      }

  .mine{
    text-align: center;
  }

  @media(max-width: 768px) {
    .contact-container{
        margin-top:  20px;
        margin-left: 20px;
        margin-right: 20px;
        
      
    }
    .form-group input, .form-group textarea {
        width: 80%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
  }