@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body{
    font-family: 'PT Serif', serif;
}


.footer {
    background-color:    #fff8e7;
    color: #fff;
    padding: 2rem;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer-left h4 {
    margin-bottom: 1rem;
    color:  rgb(240, 183, 41);
}

.footer-left p {
    color:  #333;
    margin-bottom: 0.5rem;
}

.footer-right p {
    margin-bottom: 1rem;
    color:  #333;
}

.footer-social-links a {
    margin: 0 0.5rem;
    color:  #333;
    font-size: 1.2rem;
}

.footer-social-links a:hover {
    color:  rgb(240, 183, 41);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}
