@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.forgot-password-container {
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.header .logo {
    width: 200px;
    margin-bottom: 20px;
}

.main-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-container img {
    width: 50px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

p {
    margin: 10px 0 20px;
    color: #555;
}

.form label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    color: #666;
    font-size: 14px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reset-btn {
    background-color: #d99e00;
    border: none;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #d99e00;
}

.back-to-login {
    display: inline-block;
    margin-top: 20px;
    color: #777;
    text-decoration: none;
    font-size: 14px;
}

.back-to-login:hover {
    text-decoration: underline;
}

p {
    margin-top: 10px;
    color: #666;
}
