@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body{
    font-family: 'PT Serif', serif;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    position: relative;
    z-index: 10;
    

  }
  
  .logo img {
    width: 150px; /* Adjust the size as needed */
    color: #D89531;
    padding-top: 35px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    transform: translateX(0);
    transition: right 0.3s ease; /* Sliding effect */
    z-index: 10;
    justify-content: center;
  }
  
  .nav-links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .nav-links ul li a {
    text-decoration: none;
    color:  #D89531;
    font-weight: bold;
    transition: color 0.3s ease;
    
  }
  
  .auth-buttons {
    display: flex;
    gap: 1rem;
    text-decoration: none;
  }
  

  .signup-btn {
    padding: 0rem 3rem;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color:   #D89531;
    color: white;
  }

  .logs{
    display: none;
  }
  
  .login-btn {
    padding: 0rem 2rem;
    border: 2.5px solid   #D89531;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color:  #D89531;
    
    
  }

  .login-btn a{
    text-decoration: none;
    color: #D89531;
    font-size: 1rem;
    transition: transform 0.3s ease;
  }

  .signup-btn a{
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
  }

 
 
  
  
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
    
    
  }
  
  .hamburger .line {
    
    width: 25px;
    height: 3px;
    background-color: #D89531;
    transition: all 0.3s ease;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: 0;
        right: -100%; /* Hidden off-screen initially */
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        z-index: 10;
      


      
    }

    .nav-links.open {
      right: 0; /* Slide in when menu is open */
    }
  
  
  
    .nav-links ul {
      flex-direction: column;
      gap: 1rem;
      
     
    }
  
    .hamburger {
      display: flex;
      color: #D89531;
      flex-direction: column;
      justify-content: space-around;
      height: 24px;
      width: 30px;
      cursor: pointer;
     
    }
  
    .auth-buttons {
      display: none;
    }

      
  .hamburger .line {
    
    width: 25px;
    height: 3px;
    background-color: #D89531;
    
    
  }
  
  .logs{
    display: block;
  }

    
  }
  
        
  