@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body{
    font-family: 'PT Serif', serif;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    background-color:   #fff8e7; /* Light yellow background */
  }
  
  .hero-text {
    max-width: 50%;
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
    color:  #212121;
    margin-bottom: 1rem;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    color:  #212121;
    margin-bottom: 1.5rem;
  }
  
  .cta-btn {
    padding: 0.75rem 5rem;
    background-color:   #D89531;
    color: #fff;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .hero-image img {
    max-width: 100%;
    border-radius: 25px 0px 25px 0px;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-text {
      max-width: 100%;
    }
  
    .hero-image {
      margin-top: 2rem;
    }
  
    .hero-image img {
      width: 100%;
    }
  }
  