@import url('https://fonts.googleapis.com/css2?family=Banda+Niera&display=swap');


/* General Styling */
body {
    margin: 0;
    font-family: 'Banda niera', sans-serif;
    
  }

.otp-container img{
    width: 200px;
    margin-bottom: 20px;
  }

.otp-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

.otp-input-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.otp-input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-in-btn {
    background-color:  #D89531;;
    color: white;
    padding: 10px 90px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.keep-signed-in {
    margin-bottom: 20px;
    font-size: 14px;
}

.resend-btn {
    background-color: white;
    border: 1px solid #666;
    color: #333;
    padding: 7px 60px;
    border-radius: 12px;
    cursor: pointer;
}

.resend-btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Responsive Design */
@media (max-width: 480px) {
    .otp-input {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .sign-in-btn, .resend-btn {
        padding: 8px 15px;
        font-size: 14px;
    }
}
