
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body{
    font-family: 'PT Serif', serif;
}

.meet{
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 50px;
    font-weight: 800;
}

.meet h1{
    font-size: 30px;
    font-weight: bolder;
}

.teachers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: center;

}

.teach{
    padding: 2rem;
    text-align: center;
    border-radius: 25px;
    transition: transform 0.3s ease;
    max-width: 60%;
}


