@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body{
    font-family: 'PT Serif', serif;
}


.testimonials {
    padding: 3rem 2rem;
    background-color:   #fff8e7;
    text-align: center;
}

.testimonials h2 {
    font-size: 2rem;
    color: #333;
}

.testimonials p {
    color: #666;
}

.testimonial-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.testimonial-item {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    text-align: center;
}

.testimonial-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.testimonial-item h3 {
    font-size: 1.2rem;
    color: #ffb500;
    margin-bottom: 0.5rem;
}

.testimonial-item p {
    color: #666;
    margin-bottom: 0.5rem;
}

.testimonial-text {
    font-style: italic;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .testimonial-grid {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-item {
        max-width:50%;
    }
}
